go 1.25.0

use (
	.
	./collectors/azure
	./collectors/docker
	./collectors/ec2
	./collectors/gcp
	./collectors/kubernetes
	./collectors/linuxos
	./collectors/procfs
	./collectors/sysfsdmi
	./collectors/systemd
	./collectors/node
	./collectors/proxmox
)
