go 1.26.0

use (
	.
	./collectors/azure
	./collectors/docker
	./collectors/ec2
	./collectors/gcp
	./collectors/github
	./collectors/kubernetes
	./collectors/linuxos
	./collectors/node
	./collectors/procfs
	./collectors/proxmox
	./collectors/sysfsdmi
	./collectors/systemd
)
