go 1.24.4

use (
	.
	./cmd.test
	./collectors/azure
	./collectors/docker
	./collectors/ec2
	./collectors/gcp
	./collectors/kubernetes
	./collectors/linuxos
	./collectors/procfs
	./collectors/sysfsdmi
	./collectors/node
)
